#presentacion {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("/portafolio/imagenes/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.proyecto {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#proyecto-1{
    background-image: url("/portafolio/imagenes/clongugul.png");
}

#proyecto-2{
    background-image: url("/portafolio/imagenes/menuC.png");
}

#proyecto-3{
    background-image: url("/portafolio/imagenes/primerP.png");
}
#proyecto-4{
    background-image: url("/portafolio/imagenes/porta.png");
}
.text-shadow-1 {
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}

.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }